#h {
  background-color: rgb(15, 43, 71);
  border: 10px;
}
#s { padding-left: 20px;
  font-size: small;
  background-color: rgb(13, 31, 49);
  color: white;
 font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
 #s span{
    padding-right: 15px;
 }
main {
    

  text-align: center;
  padding-top: 25px;
  
}
button {
  background-color: rgb(255, 157, 0);
  color: white;
  width: 1200px;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}



#image {
  background-image: url(assets/images/bg-image.png);
  width: 1200px;
  height: 40px;
  padding-top: 60px;
  text-align: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  font-size: larger;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

}
#img { background-image: url(assets/images/bg-image.png);
width: 1200px;
height: 50px;
text-align: center;
background-repeat: no-repeat;
margin-left: auto;
margin-right: auto;
color: white;
font-family: Arial, Helvetica, sans-serif;
}

.div.image1 { display: inline-block;
}
.div.image2 {display: inline-block;
}
.div.image3 {display: inline-block;}
.div.image4 {display: inline-block;}